@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  min-height: 100vh;
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,219,233,1) 45%);
}

form {
  padding: 25px;
  background: #fff;
  max-width: 500px;
  width: 100%;
  border-radius: 7px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

form img {
    max-width: 30%;
    height: 30%;
    border-radius: 7px;
}

form h2 {
 font-style: oblique;
text-align: center;
margin: 0px 0 30px;
color: #4a095f;
}

form h4 {
    margin: 0px 0 30px;
}

form h1 {
    text-align: center;
    color: crimson;
    
}

form .form-group {
  margin-bottom: 15px;
  position: relative;
}

form label {
  display: block;
  font-size: 15px;
  margin-bottom: 7px;
}

form input,
form select {
  height: 45px;
  padding: 10px;
  width: 100%;
  font-size: 15px;
  outline: none;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #bfbfbf;
}

form input:focus,
form select:focus {
  border-color: #9a9a9a;
}

form input.error,
form select.error {
  border-color: #f91919;
  background: #f9f0f1;
}

form small {
  font-size: 14px;
  margin-top: 5px;
  display: block;
  color: #f91919;
}

form .password i {
  position: absolute;
  right: 0px;
  height: 45px;
  top: 28px;
  font-size: 13px;
  line-height: 45px;
  width: 45px;
  cursor: pointer;
  color: #939393;
  text-align: center;
}
form .final{
    margin-top: 30px;
  }

form .label {
  font-weight: bold;
  margin-bottom: 5px;
  height: 10px;
}

label .slogan {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
    padding: 10px 10px;
    background-color: #023c42;
    color: #fff;
    border: 0;
    border-radius: 70px;
    cursor: pointer;
  }
  
button:hover {
    background-color: #0ac8f3;
  }

@keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}
.slowly-visible {
opacity: 0; 
animation: fadeIn 2s ease forwards;
}

.submit-btn {
  margin-top: 30px;
}

.submit-btn input {
  color: white;
  border: none;
  height: auto;
  font-size: 16px;
  padding: 13px 0;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  text-align: center;
  background: #1BB295;
  transition: 0.2s ease;
}

.submit-btn input:hover {
  background: #179b81;
}